/* Styling that affects multiple*/

body {
    background-color: rgb(75, 75, 75);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}
.container,
.projects, 
.announcements, 
.sidebar, 
header, 
.search-area, 
.smalluser, 
.greeting, 
.buttons, 
.greeting-words,
.card,
.trending {
    display:grid;
}

.search-area,
.greeting {
    grid-template-columns: 10% 1fr;
}

.buttons, .smalluser {
    grid-template-columns: repeat(3,1fr);
}

.card, .names, .a-posts {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.192);
    margin: 0 20px;
    font-size: 12px;
    color: grey;
}

h3 {
    margin: 10px 20px;

}

/*Container styling*/

.container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15% 85% ;
    background-color: rgb(184, 184, 184);
    
    
}

/*Header styling*/

header {
    background-color: white;
    grid-column: 2 / 4;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.192);
    z-index: 1;

}



/*Sidebar styling*/

.sidebar {
    background-color: rgb(86, 86, 228);
    grid-row: 1/4;
    color: white;
    grid-template-rows: 100px 300px 200px;
    justify-content: start;
    padding: 10px;
    
}

.nav, .nav-settings {
    font-size: 20px;
    font-weight: 700;
}

/*Project styling*/
.projects {
grid-template-columns: 3fr 1fr;
grid-template-rows: 50px 350px 50px 350px;
background-color: rgb(241, 241, 241);
grid-area: 2 / 2 / 5 / 4;


}

.project-cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 50%));
    row-gap: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    justify-content: space-around;
    align-content: space-between;
}


.card {
    background-color: white;
    height:200px;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 30px 1fr 30px;
}
.color {
    grid-row: 1 / 4;
    background-color: orange;
    border-radius: 8px 0 0 8px;

}

.card p {
    padding: .5rem;
    place-self: center;
}

.card h2 {
    padding: .5rem;
    color: black;
}
/*Announcement styling*/
.a{
    grid-row:1;
    grid-column: 2;
}

.a-posts {
    grid-row: 2;
    width: clamp(260px, 75%, 400px);
    

}
 .post {
    margin: 0;
 }


/*Trending Styling*/
.trending h3 {
    grid-row: 3;
}

.names {
    width: clamp(260px, 75%, 400px);
    grid-row: 4 / 5;
    
}

